---
---

<div class="fixed top-1/4 -left-20 w-96 h-96 bg-tertiary/5 rounded-full blur-[120px] pointer-events-none" aria-hidden="true"></div>
<div class="fixed bottom-1/4 -right-20 w-96 h-96 bg-text-primary/5 rounded-full blur-[120px] pointer-events-none" aria-hidden="true"></div>
