---
import { ostring } from "astro/zod";
import dayjs from "dayjs";

const graphql = JSON.stringify({
  query:
    '{\r\n  user(username: "igorOliveira") {\r\n    publication {\r\n      posts(page: 0) {\r\n        title\r\n        brief\r\n        dateAdded\r\n        slug\r\n      }\r\n    }\r\n  }\r\n}',
  variables: {},
});

const requestOptions = {
  method: "POST",
  headers: {
    "Content-Type": "application/json",
  },
  body: graphql,
};

const responseJson = await fetch("https://api.hashnode.com/", requestOptions)
  .then(async (response) => await response.json())
  .catch((error) => console.log("Error getting blog posts", error));

const posts = responseJson.data.user.publication.posts.map(post => {
  const dateFormatted = dayjs(post.dateAdded).format("MMMM YYYY")
  return {...post, dateAdded: dateFormatted}
});

---

<div class="col-span-2 w-full p-4">
  <div class="flex items-center justify-between mb-4">
    <h5 class="font-semibold font-mono text-white/90">Blog Posts</h5>
    <a href={import.meta.env.BLOG_URL} target="_blank" class="btn btn-xs btn-primary"> View all →</a>
  </div>
  <ol
    class="relative border-l border-sky-50 overflow-y-auto max-h-[35rem] snap-y"
  >
    {
      posts.map((post) => (
        <li class="mb-3 ml-5">
          <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white"></div>
          <time class="mb-1 text-sm font-normal leading-none text-zinc-300">
            {post.dateAdded}
          </time>
          <h3 class="text-lg font-semibold text-zinc-50">
            {post.title}
          </h3>
          <p class="mb-2 text-sm font-normal text-zinc-300 snap-center">
           {post.brief}
          </p>
          <a href={import.meta.env.BLOG_URL + post.slug + "?utm_source=personalSite"} target="_blank" class="btn btn-primary btn-xs">
            
            Read more
          </a>
        </li>
      ))
    }
  </ol>
</div>
<style>
  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--s)) #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 6px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: hsl(var(--s));
    border-radius: 9px;
    border: 3px none #ffffff;
  }
</style>
