---
---

<div class="col-span-2 w-full p-4">
  <div class="flex items-center justify-between mb-4">
    <h5
      class="text-lg font-semibold drop-shadow-md"
    >
      Blog posts
    </h5>
    <a
      href="https://github.com/IgordeOliveira?tab=repositories"
      target="_blank"
      class="btn btn-xs btn-outline "
    >
      View all
    </a>
  </div>
  <ol class="relative border-l border-sky-50 overflow-y-auto max-h-[30rem] snap-y">
    <li class="mb-3 ml-4">
      <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white"
      >
      </div>
      <time
        class="mb-1 text-sm font-normal leading-none text-zinc-300"
        >February 2022</time
      >
      <h3 class="text-lg font-semibold text-zinc-50">
        Application UI code in Tailwind CSS
      </h3>
      <p class="mb-2 text-base font-normal text-zinc-300 snap-center">
        Get access to over 20+ pages including a dashboard layout, charts,
        kanban board, calendar, and pre-order E-commerce & Marketing pages.
      </p>
      <a
        href="#"
        class="btn btn-secondary btn-xs"
        >Learn more <svg
          class="w-3 h-3 ml-2"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            fill-rule="evenodd"
            d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
            clip-rule="evenodd"></path></svg
        ></a
      >
    </li>
    <li class="mb-3 ml-4">
      <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white"
      >
      </div>
      <time
        class="mb-1 text-sm font-normal leading-none text-zinc-300"
        >February 2022</time
      >
      <h3 class="text-lg font-semibold text-zinc-50">
        Application UI code in Tailwind CSS
      </h3>
      <p class="mb-2 text-base font-normal text-zinc-300 snap-center">
        Get access to over 20+ pages including a dashboard layout, charts,
        kanban board, calendar, and pre-order E-commerce & Marketing pages.
      </p>
      <a
        href="#"
        class="btn btn-secondary btn-xs"
        >Learn more <svg
          class="w-3 h-3 ml-2"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            fill-rule="evenodd"
            d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
            clip-rule="evenodd"></path></svg
        ></a
      >
    </li>
    <li class="mb-3 ml-4">
      <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white"
      >
      </div>
      <time
        class="mb-1 text-sm font-normal leading-none text-zinc-300"
        >February 2022</time
      >
      <h3 class="text-lg font-semibold text-zinc-50">
        Application UI code in Tailwind CSS
      </h3>
      <p class="mb-2 text-base font-normal text-zinc-300 snap-center">
        Get access to over 20+ pages including a dashboard layout, charts,
        kanban board, calendar, and pre-order E-commerce & Marketing pages.
      </p>
      <a
        href="#"
        class="btn btn-secondary btn-xs"
        >Learn more <svg
          class="w-3 h-3 ml-2"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            fill-rule="evenodd"
            d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
            clip-rule="evenodd"></path></svg
        ></a
      >
    </li>
    <li class="mb-3 ml-4">
      <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white"
      >
      </div>
      <time
        class="mb-1 text-sm font-normal leading-none text-zinc-300"
        >February 2022</time
      >
      <h3 class="text-lg font-semibold text-zinc-50">
        Application UI code in Tailwind CSS
      </h3>
      <p class="mb-2 text-base font-normal text-zinc-300">
        Get access to over 20+ pages including a dashboard layout, charts,
        kanban board, calendar, and pre-order E-commerce & Marketing pages.
      </p>
      <a
        href="#"
        class="btn btn-secondary btn-xs"
        >Learn more <svg
          class="w-3 h-3 ml-2"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            fill-rule="evenodd"
            d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
            clip-rule="evenodd"></path></svg
        ></a
      >
    </li>
    <li class="mb-3 ml-4">
      <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white"
      >
      </div>
      <time
        class="mb-1 text-sm font-normal leading-none text-zinc-300"
        >February 2022</time
      >
      <h3 class="text-lg font-semibold text-zinc-50">
        Application UI code in Tailwind CSS
      </h3>
      <p class="mb-2 text-base font-normal text-zinc-300">
        Get access to over 20+ pages including a dashboard layout, charts,
        kanban board, calendar, and pre-order E-commerce & Marketing pages.
      </p>
      <a
        href="#"
        class="btn btn-secondary btn-xs"
        >Learn more <svg
          class="w-3 h-3 ml-2"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            fill-rule="evenodd"
            d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
            clip-rule="evenodd"></path></svg
        ></a
      >
    </li>
    

  </ol>
</div>
<style>
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #8f54a0 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 6px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #8f54a0;
    border-radius: 9px;
    border: 3px none #ffffff;
  }
</style>