---
import '@fontsource/fira-sans';
import '@fontsource/dejavu-mono';
import { GoogleAnalytics } from 'astro-analytics';


export interface Props {
	title: string;
}
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" data-theme="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		<GoogleAnalytics id="G-7FNDD4G0GK" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style>
	body {
		background-color: #2B2D42;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%232B2D42' cx='50' cy='0' r='50'/%3E%3Cg fill='%232f3248' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%2333364e' cx='50' cy='100' r='50'/%3E%3Cg fill='%23383b54' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%233c405a' cx='50' cy='200' r='50'/%3E%3Cg fill='%23404560' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23444a66' cx='50' cy='300' r='50'/%3E%3Cg fill='%23494f6c' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%234d5472' cx='50' cy='400' r='50'/%3E%3Cg fill='%23515a78' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23565f7e' cx='50' cy='500' r='50'/%3E%3Cg fill='%235a6484' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%235f6a8a' cx='50' cy='600' r='50'/%3E%3Cg fill='%23636f90' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23687596' cx='50' cy='700' r='50'/%3E%3Cg fill='%236e7b9a' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%2374819e' cx='50' cy='800' r='50'/%3E%3Cg fill='%237a87a2' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23818da6' cx='50' cy='900' r='50'/%3E%3Cg fill='%238793aa' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%238D99AE' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
		background-attachment: fixed;
		background-size: contain;
	}
</style>
